**/*.pyc
*.pyc
**/__pycache__/**
scenes/__pycache__/__init__.cpython-37.pyc
scenes/__pycache__/scene_gameclear.cpython-37.pyc
scenes/__pycache__/scene_gameover.cpython-37.pyc
scenes/__pycache__/scene_intro.cpython-37.pyc
scenes/__pycache__/scene_teststage.cpython-37.pyc
scenes/__pycache__/scene_teststage.cpython-37.pyc
prefabs/__pycache__/prefabs.cpython-37.pyc
scenes/__pycache__/__init__.cpython-37.pyc
scenes/__pycache__/scene_gameclear.cpython-37.pyc
scenes/__pycache__/scene_gameover.cpython-37.pyc
scenes/__pycache__/scene_intro.cpython-37.pyc
scenes/__pycache__/scene_lastboss.cpython-37.pyc
scenes/__pycache__/scene_main.cpython-37.pyc
